@import url('https://commandcrafterhd.gitlab.io/bates-discord-theme/css/usertags.css');

/* --== Define some general variables! ==-- */
:root {
  --rgb-highlight: 4, 217, 255;
  --highlight: rgb(var(--rgb-highlight));
  --background: black;
  --close-button: #D41227;
  --online-color: #39ff14;
  --afk-color: #FFFF33;
  --dnd-color: #FF0000;
  --streaming-color: #bc13fe;
  --interactive-hover: var(--highlight);
  --interactive-active: var(--highlight);
  --text-link: var(--highlight);
  --bdfdb-blurple: var(--highlight);
  --logo-primary: var(--highlight);
  --focus-primary: var(--highlight);
  --radio-group-dot-foreground: var(--highlight);
  --scrollbar-thin-thumb: var(--highlight);
  --scrollbar-auto-thumb: var(--highlight);
  --scrollbar-auto-scrollbar-color-thumb: var(--highlight);
  --scrollbar-thin-track: var(--background);
  --scrollbar-auto-track: var(--background);
  --scrollbar-auto-scrollbar-color-track: var(--background);
  --activity-card-background: var(--background);
  --background-primary: var(--background);
  --background-mobile-primary: var(--background);
  --background-secondary: var(--background);
  --background-mobile-secondary: var(--background);
  --background-secondary-alt: var(--background);
  --background-tertiary: var(--background);
  --background-accent: var(--background);
  --background-floating: var(--background);
  --channeltextarea-background: var(--background);
  --textbox-markdown-syntax: var(--background);
}

/* --== Make the close discord button red, because I can lol ==-- */
.winButtonClose-1HsbF- {
  color: var(--close-button);
  transition: .3s;
}

.winButtonClose-1HsbF-:hover {
  background-color: var(--close-button);
}

.wordmarkWindows-1v0lYD > svg > path {
  fill: var(--highlight);
}

/* --== Color the unread message bar ==-- */
.isUnread-3Ef-o9 {
  border-color: var(--highlight);
}

.isUnread-3Ef-o9 .content-1o0f9g {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

.wrapper-2jXpOf:hover > .unread-2lAfLh {
  background-color: var(--highlight);
}

.guildSeparator-33mFX6 {
  background-color: var(--highlight);
  border-radius: 2px;
}

.unreadPillCapStroke-7rkHbg {
  color: var(--highlight);
  fill: var(--highlight);
}

.unreadPill-2HyYtt {
  background-color: var(--highlight);
}

/* --== Style the Friends page ==-- */
.itemCard-v9viV7 {
  border: 1px solid var(--highlight);
}

.section-2gLsgF {
  background-color: var(--background);
  border-left: 3px solid var(--highlight);
}

.content-3YMskv, .peopleList-3c4jOR {
  background-color: var(--background);
}

/* --== Style Spoiler warning ==-- */
.theme-dark .spoilerWarning-2aAZq1 {
  background-color: var(--background);
  color: var(--highlight);
  border: 1px solid var(--highlight);
  transition-duration: .3s;
}

.theme-dark .spoilerContainer-331r0R.hidden-HHr2R9:hover .spoilerWarning-2aAZq1 {
  background-color: var(--highlight) !important;
  color: var(--background) !important;
}

/* --== Style plugin update banner ==-- */
.noticeWrapper-8z511t {
  background-color: var(--background);
}

.noticeWrapper-8z511t .button-2DhvE9{
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

.noticeWrapper-8z511t .button-2DhvE9:hover{
  background-color: var(--highlight);
  border: 1px solid var(--background);
  color: var(--background);
}

/* --== Style codeblocks and Markdown notation in Chat inputbox ==-- */
.codeBlockSyntax-2i-tMA, .syntaxAfter-hcA4AH, .syntaxBefore-1YQ9lW {
  color: var(--highlight);
}

/* --== Style delete icon in message ==-- */
.dangerous-2r8KxV > svg > path {
  fill: var(--close-button);
}

/* --== Add some FANCY borders! ==-- */
.scrollableContainer-2NUZem, .wrapper-2aW0bm,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx, .quickswitcher-3JagVE,
.input-2VB9rf, .markup-2BOw-j code, .theme-dark .uploadModal-2ifh8j {
  border: 1px solid var(--highlight);
}

.input-2VB9rf, .list-17lzo8, .wrapper-1-Fsb8, .button-38aScr,
.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl .centerIcon-2G6o-T,
.theme-dark .uploadModal-2ifh8j, .uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
  background-color: var(--background);
}

.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
  background-color: var(--highlight);
}

.list-17lzo8 {
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

.listItem-GuPuDH:hover > div > .item-2hkk8m,
.item-2hkk8m[style="opacity: 1; height: 40px; transform: none;"] {
  background-color: var(--highlight);
}

.newMessagesBar-265mhP {
  margin-top: 1vh;
  background-color: var(--background);
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

.barButtonAlt-mYL1lj {
  border-left: none !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.barButtonMain-3K-jeJ, .span-1mKrMp {
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: var(--highlight);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--highlight);
  color: var(--background);
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
  background-color: var(--background);
  border: 1px solid var(--close-button);
  color: var(--close-button);
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  background-color: var(--close-button);
  color: var(--background);
}

/* --== Mentioned in message ==-- */
.mentioned-xhSam7:before {
  background-color: var(--highlight);
}

.mentioned-xhSam7 {
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.4) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

.mentioned-xhSam7:hover {
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.4) 0%, rgba(var(--rgb-highlight), 0) 100%) !important;
}

.wrapper-3WhCwL {
  color: var(--highlight);
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.2) 0%, rgba(var(--rgb-highlight), 0.2) 100%);
}

.wrapper-3WhCwL:hover {
  color: var(--highlight);
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.4) 0%, rgba(var(--rgb-highlight), 0.4) 100%) !important;
}

/* --== Autocomplete ==-- */
.autocompleteInner-zh20B_, .theme-dark .selected-1Tbx07 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Popout video player ==-- */
.pictureInPictureVideo-2iKsGg {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Ping indicator ==-- */

.ping-2NgC8E > path {
  fill: var(--highlight);
}

.rtcConnectionStatusConnected-VRZDjy {
  color: var(--highlight);
}

/* --== Style the user popout ==-- */
.userPopout-3XzG_A {
  margin-right: 1vw;
  border: 1px solid var(--highlight);
}

.headerPlaying-j0WQBV, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.headerTop-3C2Zn0 {
  background-color: var(--background);
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border: 1px solid var(--highlight);
}

.header-QKLPzZ {
  background-color: var(--background);
}

.headerFill-adLl4x {
  background-color: var(--background);
}

/* --== Style spotify widget on user popout ==-- */

.headerSpotify-zpWxgT {
  background-color: var(--background);
}

.barInner-3NDaY_ {
  background-color: var(--highlight);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  border-color: var(--highlight);
}

.listenAlongIcon-2TkOLH path {
  fill: var(--highlight);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
  background-color: var(--highlight);
  color: var(--background);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover svg path {
  fill: var(--background);
}

/* --== Style twitch widget on user popout ==-- */

.activity-11LB_k {
  background-color: var(--background);
}

/* Style the online/afk/dnd icons */

.pointerEvents-2zdfdO[fill="#43b581"] {
  fill: var(--online-color);
}

.pointerEvents-2zdfdO[fill="#faa61a"] {
  fill: var(--afk-color);
}

.pointerEvents-2zdfdO[fill="#f04747"] {
  fill: var(--dnd-color);
}

.pointerEvents-2zdfdO[fill="#593695"] {
  fill: var(--streaming-color);
}

/* --== Style right click list ==-- */
.scroller-3BxosC {
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

/* --== Style the settings menu(s) ==-- */
.bd-switch-checked, .bd-addon-views .bd-view-button.selected, .bd-button {
  background-color: var(--highlight);
}

.bd-setting-item .bd-select:hover {
  border: 1px solid var(--highlight);
}

.bd-select .bd-select-options {
  border: 1px solid var(--highlight);
}

.container-3auIfb:not([style*="background-color: rgb(114, 118, 125);"]) { /*For the checked ones*/
  background-color: var(--highlight) !important;
}
.container-3auIfb:not([style*="background-color: rgb(67, 181, 129);"]) { /*For the unchecked ones*/

}

.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
  border-top: 1px solid var(--highlight);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lookFilled-1Gx00P.colorRed-1TFJan, .theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6  {
  color: var(--close-button);
  background-color: var(--background);
  border: 1px solid var(--close-button);
  transition-duration: .3s;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover, .theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover  {
  color: var(--background);
  background-color: var(--close-button);
}

.contents-18-Yxp {
  background-image: none !important;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--highlight);
  background-color: var(--background);
  border: 1px solid var(--highlight);
  transition-duration: .3s;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  color: var(--background) !important;
  background-color: var(--highlight) !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
  color: var(--interactive-normal) !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"]:hover {
  color: var(--highlight) !important;
}

.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
  color: var(--close-button);
  transition-duration: .3s;
}

.colorDanger-2qLCe1:hover, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
  background-color: var(--close-button) !important;
  color: var(--background) !important;
}

.focused-3afm-j {
  color: var(--highlight) !important;
  background-color: var(--background) !important;
}

.menu-319q29 div svg path {
  transition-duration: .3s;
}

.menu-319q29 div:hover svg path {
  fill: var(--highlight);
}

.theme-dark .closeButton-1tv5uR {
  transition-duration: .3s;
  border-color: var(--close-button);
}

.theme-dark .closeButton-1tv5uR svg path {
  fill: var(--close-button);
  transition-duration: .3s;
}

.theme-dark .closeButton-1tv5uR:hover {
  background-color: var(--close-button);
  border-color: var(--close-button);
}

.theme-dark .closeButton-1tv5uR:hover svg path {
  fill: var(--background);
}

/* --== Style spoiler checkbox off of file upload modal ==-- */
.theme-dark .checkbox-1ix_J3 {
  transition-duration: .3s;
}

.theme-dark .checked-3_4uQ9 .da-checked {
  border-color: var(--highlight) !important;
}

.theme-dark .checked-3_4uQ9 > svg > path {
  fill: var(--highlight);
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  border: 1px solid var(--close-button);
  margin-right: 1vw;
  transition-duration: .3s;
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover {
  background-color: var(--close-button);
}


.container-3auIfb > svg > svg > path {
  fill: var(--highlight);
}

.defaultValue-3gC7yw .markValue-2DwdXI {
  color: var(--highlight);
}

/* --== Style Search Bar ==-- */
.searchBar-3dMhjb:hover .iconLayout-1WxHy4 div svg path,
.searchBar-3dMhjb[aria-expanded="true"] .iconLayout-1WxHy4 div svg path {
  fill: var(--highlight);
}

.circular-2NaZOq > circle {
  stroke: var(--highlight) !important;
}

/* --== Style Group owner Icon ==-- */
.ownerIcon-2NH9FM {
  color: var(--highlight);
}

/* --== Style home button ==-- */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--highlight);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 svg path, .wrapper-1BJsBx:hover .childWrapper-anI2G9 svg path {
  fill: var(--background);
}

.homeIcon-FuNwkv path {
  fill: var(--highlight);
}

/* --== Style timestamps and Edit buttons ==-- */
.operations-36ENbA>a {
  color: var(--highlight);
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
  color: var(--highlight);
}

/* --== Style pin's new-tag ==-- */
.iconBadge-qZ4Ksk {
  background-color: var(--highlight);
}

/* --== Style member titles ==-- */

.membersGroup-v9BXpm {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highlight);
  padding: 0px;
}

.membersGroup-v9BXpm::before {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-right: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%);
}

.membersGroup-v9BXpm::after {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-left: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

/* --== Style channelgroup titles ==-- */

.containerDefault-3tr_sE {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerDefault-3tr_sE div div {
  color: var(--highlight);
}

.containerDefault-3tr_sE div div svg {
  width: 0px;
}

.containerDefault-3tr_sE::before {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-right: -11px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%);
}

.containerDefault-3tr_sE::after {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-left: -3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

/* --== Theme BD Update popout ==-- */

.theme-dark .root-1gCeng, .theme-dark .footer-2gL1pp {
  background-color: var(--background);
}

.close-hZ94c6 div svg path {
  fill: var(--close-button);
}

.added-2hLRj3.marginTop-2incQ6 {
  color: var(--online-color);
}

.added-2hLRj3.marginTop-2incQ6::after {
  background-color: var(--online-color);
}

.improved-1NJK-y {
  color: var(--highlight);
}

.improved-1NJK-y::after {
  background-color: var(--highlight);
}

.fixed-3zCC84 {
  color: var(--close-button);
}

.fixed-3zCC84::after {
  background-color: var(--close-button);
}

/* --== Hide weird unused stuff ==-- */
.theme-dark .children-19S4PO:after, .form-2fGMdU::before {
  display: none;
}

/* --== Remove unread half-circles within servers in favor of colored channels ==-- */
.unread-2lAfLh {
  display: none;
}
