@import url('https://commandcrafterhd.github.io/DiscordDarkNeon/css/usertags.css');

/* --== Define some general variables! ==-- */
:root {
  --rgb-highlight: 4, 217, 255;
  --highlight: rgb(var(--rgb-highlight));
  --background: black;
  --close-button: var(--dnd-color) !important;
  --online-color: #39ff14;
  --afk-color: #FFFF33;
  --dnd-color: #FF0000;
  --streaming-color: #bc13fe;
  --rs-online-color: var(--online-color);
  --rs-idle-color: var(--afk-color);
  --rs-dnd-color: var(--dnd-color);
  --rs-offline-color: gray;
  --rs-invisible-color: gray;
  --rs-streaming-color: var(--stream-color);
  --interactive-hover: var(--highlight);
  --interactive-active: var(--highlight);
  --text-link: var(--highlight);
  --bdfdb-blurple: var(--highlight);
  --logo-primary: var(--highlight);
  --focus-primary: var(--highlight);
  --radio-group-dot-foreground: var(--highlight);
  --scrollbar-thin-thumb: var(--highlight);
  --scrollbar-auto-thumb: var(--highlight);
  --scrollbar-auto-scrollbar-color-thumb: var(--highlight);
  --scrollbar-thin-track: var(--background);
  --scrollbar-auto-track: var(--background);
  --scrollbar-auto-scrollbar-color-track: var(--background);
  --activity-card-background: var(--background);
  --background-primary: var(--background);
  --background-mobile-primary: var(--background);
  --background-secondary: var(--background);
  --background-mobile-secondary: var(--background);
  --background-secondary-alt: var(--background);
  --background-tertiary: var(--background);
  --background-accent: var(--background);
  --background-floating: var(--background);
  --channeltextarea-background: var(--background);
  --textbox-markdown-syntax: var(--background);
}

/*
=========================================== USRBG Popouts by Tropix126. ===========================================
*/

.theme-dark .headerNormal-T_seeN {
    background-color: var(--background);
}

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.headerTop-3C2Zn0 {
    background: transparent !important;
    background-color: unset;
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

.userPopout-3XzG_A {
  --user-popout-position: center
}

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

/* --== Style text-highlighting ==-- */
::selection {
  background: var(--highlight);
  color: var(--background);
}

/* --== Style the close button ==-- */
.winButtonClose-1HsbF- {
  color: var(--close-button);
  transition: .3s;
}

.winButtonClose-1HsbF-:hover {
  background-color: var(--close-button);
}

.wordmarkWindows-1v0lYD > svg > path {
  fill: var(--highlight);
}

/* --== Style the unread message bar ==-- */
.isUnread-3Ef-o9 {
  border-color: var(--highlight);
}

.isUnread-3Ef-o9 .content-1o0f9g {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

.wrapper-2jXpOf:hover > .unread-2lAfLh {
  background-color: var(--highlight);
}

.guildSeparator-33mFX6 {
  background-color: var(--highlight);
  border-radius: 2px;
}

.unreadPillCapStroke-7rkHbg {
  color: var(--highlight);
  fill: var(--highlight);
}

.unreadPill-2HyYtt {
  background-color: var(--highlight);
  color: var(--background) !important;
}

/* --== Style the Friends page ==-- */
.itemCard-v9viV7 {
  border: 1px solid var(--highlight);
}

.section-2gLsgF {
  background-color: var(--background);
  border-left: 3px solid var(--highlight);
}

.content-3YMskv, .peopleList-3c4jOR {
  background-color: var(--background);
}

/* --== Style Spoiler warning ==-- */
.theme-dark .spoilerWarning-2aAZq1 {
  background-color: var(--background);
  color: var(--highlight);
  border: 1px solid var(--highlight);
  transition-duration: .3s;
}

.theme-dark .spoilerContainer-331r0R.hidden-HHr2R9:hover .spoilerWarning-2aAZq1 {
  background-color: var(--highlight) !important;
  color: var(--background) !important;
}

/* --== Style plugin update banner ==-- */
.noticeWrapper-8z511t {
  background-color: var(--background);
}

.noticeWrapper-8z511t .button-2DhvE9{
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

.noticeWrapper-8z511t .button-2DhvE9:hover{
  background-color: var(--highlight);
  border: 1px solid var(--background);
  color: var(--background);
}

/* --== Style codeblocks and Markdown notation in Chat inputbox ==-- */
.codeBlockSyntax-2i-tMA, .syntaxAfter-hcA4AH, .syntaxBefore-1YQ9lW {
  color: var(--highlight);
}

/* --== Style delete icon in message ==-- */
.dangerous-2r8KxV > svg > path {
  fill: var(--close-button);
}

/* --== Add some FANCY borders! ==-- */
.scrollableContainer-2NUZem, .wrapper-2aW0bm, .quickswitcher-3JagVE,
.input-2VB9rf, .markup-2BOw-j code, .theme-dark .uploadModal-2ifh8j {
  border: 1px solid var(--highlight);
}

.input-2VB9rf, .list-17lzo8, .wrapper-1-Fsb8, .button-38aScr,
.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl .centerIcon-2G6o-T,
.theme-dark .uploadModal-2ifh8j, .uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC,
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
  background-color: var(--background);
}

.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover,
.button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
  background-color: var(--highlight);
}

.list-17lzo8 {
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

.listItem-GuPuDH:hover > div > .item-2hkk8m,
.item-2hkk8m[style="opacity: 1; height: 40px; transform: none;"] {
  background-color: var(--highlight);
}

.newMessagesBar-265mhP {
  margin-top: 1vh;
  background-color: var(--background);
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

.barButtonAlt-mYL1lj {
  border-left: none !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.barButtonMain-3K-jeJ, .span-1mKrMp {
  border-right: none !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: var(--highlight);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
  background-color: var(--highlight);
  color: var(--background);
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
  background-color: var(--background);
  border: 1px solid var(--close-button);
  color: var(--close-button);
}

.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  background-color: var(--close-button);
  color: var(--background);
}

/* --== Style Mentions in messages ==-- */
.mentioned-xhSam7:before {
  background-color: var(--highlight);
}

.mentioned-xhSam7 {
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.4) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

.mentioned-xhSam7:hover {
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.4) 0%, rgba(var(--rgb-highlight), 0) 100%) !important;
}

.wrapper-3WhCwL {
  color: var(--highlight);
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.2) 0%, rgba(var(--rgb-highlight), 0.2) 100%);
}

.wrapper-3WhCwL:hover {
  color: var(--highlight);
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0.4) 0%, rgba(var(--rgb-highlight), 0.4) 100%) !important;
}

/* --== Style new message bubble ==-- */
.numberBadge-2s8kKX {
  background-color: var(--highlight) !important;
  color: var(--background);
}

/* --== Style autocomplete popout ==-- */
.autocompleteInner-zh20B_, .theme-dark .selected-1Tbx07 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Style popout video player ==-- */
.pictureInPictureVideo-2iKsGg {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Style ping indicator ==-- */

.ping-2NgC8E > path {
  fill: var(--highlight);
}

.rtcConnectionStatusConnected-VRZDjy {
  color: var(--highlight);
}

/* --== Style the user popout ==-- */
.userPopout-3XzG_A {
  margin-right: 1vw;
  border: 1px solid var(--highlight);
}

.headerPlaying-j0WQBV, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.headerTop-3C2Zn0 {
  background-color: var(--background);
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border: 1px solid var(--highlight);
}

.header-QKLPzZ {
  background-color: var(--background);
}

.headerFill-adLl4x {
  background-color: var(--background);
}

.root-SR8cQa {
  border: 1px solid var(--highlight);
}

.lookFilled-1Gx00P.colorGreen-29iAKY, .lookInverted-2D7oAl.colorBrand-3pXr91 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transition-duration: .3s;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover, .lookInverted-2D7oAl.colorBrand-3pXr91:hover {
  background-color: var(--highlight);
  color: var(--background);
}

.pointerEvents-2zdfdO[fill="#ffffff"] {
  fill: var(--online-color);
}

/* --== Style spotify widget on user popout ==-- */

.headerSpotify-zpWxgT {
  background-color: var(--background);
}

.barInner-3NDaY_ {
  background-color: var(--highlight);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  border-color: var(--highlight);
}

.listenAlongIcon-2TkOLH path {
  fill: var(--highlight);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
  background-color: var(--highlight);
  color: var(--background);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover svg path {
  fill: var(--background);
}

/* --== Style twitch widget on user popout ==-- */

.activity-11LB_k {
  background: transparent;
}

/* --== Style the online/afk/dnd icons ==-- */

/* --== THIS PART WAS YOINKED FROM _DAVID_! THANKS DAVID! ==-- */
#app-mount .wrapper-3t9DeA rect[fill="#593695"],
#app-mount .wrapper-3t9DeA rect[mask*=streaming] {fill: var(--streaming-color)}
#app-mount .wrapper-3t9DeA rect[fill="#43b581"],
#app-mount .wrapper-3t9DeA rect[mask*=online] {fill: var(--online-color)}
#app-mount .wrapper-3t9DeA rect[fill="#faa61a"],
#app-mount .wrapper-3t9DeA rect[mask*=idle] {fill: var(--afk-color)}
#app-mount .wrapper-3t9DeA rect[fill="#f04747"],
#app-mount .wrapper-3t9DeA rect[mask*=dnd] {fill: var(--dnd-color)}

/* --== Style right click list ==-- */
.scroller-3BxosC {
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

/* --== Replace the green arrows on the join-messages ==-- */
/* --== DISCORD. WHY is this an image instead of just another SVG code?! IT'S THREE LINES! ==-- */
.icon-2Po-VO {
  width: 0px;
}

.icon-2Po-VO:after {
  content: ">";
  color: var(--highlight);
}

/* --== Style the settings menu(s) ==-- */
.bd-switch-checked div, .bd-addon-views .bd-view-button.selected div, .bd-button div {
  background-color: var(--highlight);
}

.bd-switch {
  background-color: unset;
}

.bd-setting-item .bd-select:hover {
  border: 1px solid var(--highlight);
}

.bd-select .bd-select-options {
  border: 1px solid var(--highlight);
}

.container-3auIfb:not([style*="background-color: rgb(114, 118, 125);"]) { /*For the checked ones*/
  background-color: var(--highlight) !important;
}
.container-3auIfb:not([style*="background-color: rgb(67, 181, 129);"]) { /*For the unchecked ones*/

}

.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
  border-top: 1px solid var(--highlight);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lookFilled-1Gx00P.colorRed-1TFJan, .theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6  {
  color: var(--close-button);
  background-color: var(--background);
  border: 1px solid var(--close-button);
  transition-duration: .3s;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover, .theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover  {
  color: var(--background);
  background-color: var(--close-button);
}

.contents-18-Yxp {
  background-image: none !important;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  color: var(--highlight);
  background-color: var(--background);
  border: 1px solid var(--highlight);
  transition-duration: .3s;
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  color: var(--background) !important;
  background-color: var(--highlight) !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
  color: var(--interactive-normal) !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"]:hover {
  color: var(--highlight) !important;
}

.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
  color: var(--close-button);
  transition-duration: .3s;
}

.colorDanger-2qLCe1:hover, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
  background-color: var(--close-button) !important;
  color: var(--background) !important;
}

.focused-3afm-j {
  color: var(--highlight) !important;
  background-color: var(--background) !important;
}

.menu-319q29 div svg path {
  transition-duration: .3s;
}

.menu-319q29 div:hover svg path {
  fill: var(--highlight);
}

.theme-dark .closeButton-1tv5uR {
  transition-duration: .3s;
  border-color: var(--close-button);
}

.theme-dark .closeButton-1tv5uR svg path {
  fill: var(--close-button);
  transition-duration: .3s;
}

.theme-dark .closeButton-1tv5uR:hover {
  background-color: var(--close-button);
  border-color: var(--close-button);
}

.theme-dark .closeButton-1tv5uR:hover svg path {
  fill: var(--background);
}

/* --== Style spoiler checkbox off of file upload modal ==-- */
.theme-dark .checkbox-1ix_J3 {
  transition-duration: .3s;
}

.theme-dark .checked-3_4uQ9 .da-checked {
  border-color: var(--highlight) !important;
}

.theme-dark .checked-3_4uQ9 > svg > path {
  fill: var(--highlight);
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
  border: 1px solid var(--close-button);
  margin-right: 1vw;
  transition-duration: .3s;
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover {
  background-color: var(--close-button);
}


.container-3auIfb > svg > svg > path {
  fill: var(--highlight);
}

.defaultValue-3gC7yw .markValue-2DwdXI {
  color: var(--highlight);
}

/* --== Style Group owner Icon ==-- */
.ownerIcon-2NH9FM {
  color: var(--highlight);
}

/* --== Style home button ==-- */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--highlight);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 svg path, .wrapper-1BJsBx:hover .childWrapper-anI2G9 svg path {
  fill: var(--background);
}

.homeIcon-FuNwkv path {
  fill: var(--highlight);
}

/* --== Style timestamps and Edit buttons ==-- */
.operations-36ENbA>a {
  color: var(--highlight);
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
  color: var(--highlight);
}

/* --== Style pin's new-tag ==-- */
.iconBadge-qZ4Ksk {
  background-color: var(--highlight);
}

/* --== Style member titles ==-- */
.membersGroup-v9BXpm {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highlight);
  padding: 0px;
}

.membersGroup-v9BXpm::before {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-right: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%);
}

.membersGroup-v9BXpm::after {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-left: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

/* --== Style channelgroup titles ==-- */
.containerDefault-3tr_sE {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerDefault-3tr_sE div div {
  color: var(--highlight);
}

.arrow-gKvcEx {
  display: none;
}

.container-2ax-kl .overflow-WK9Ogt {
  max-width: 8vw;
}

.containerDefault-3tr_sE::before {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-right: -11px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%);
}

.containerDefault-3tr_sE::after {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-left: -3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

/* --== Style BD Update popout ==-- */
.theme-dark .root-1gCeng, .theme-dark .footer-2gL1pp {
  background-color: var(--background);
}

.close-hZ94c6 div svg path {
  fill: var(--close-button);
}

.added-2hLRj3.marginTop-2incQ6 {
  color: var(--online-color);
}

.added-2hLRj3.marginTop-2incQ6::after {
  background-color: var(--online-color);
}

.improved-1NJK-y {
  color: var(--highlight);
}

.improved-1NJK-y::after {
  background-color: var(--highlight);
}

.fixed-3zCC84 {
  color: var(--close-button);
}

.fixed-3zCC84::after {
  background-color: var(--close-button);
}

/* --== Style some of the BD Setting controls ==-- */
.bd-button.bd-button-danger {
  background-color: var(--background);
  border: 1px solid var(--close-button);
  transition-duration: .3s;
  margin-left: 2px;
}

.bd-button.bd-button-danger:hover {
  background-color: var(--close-button) !important;
}

.bd-controls>.bd-addon-button:first-of-type {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  transition-duration: .3s;
  margin-right: 2px;
}

.bd-controls>.bd-addon-button:first-of-type:hover {
  background-color: var(--highlight);
}

.bd-button {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transition-duration: .3s;
}

.bd-button:hover {
  background-color: var(--highlight) !important;
  color: var(--background);
}

.bd-addon-views svg path {
  transition-duration: .3s;
}

.bd-addon-views svg:nth-child(1) {
  fill: var(--highlight);
}

.bd-view-button:hover svg:nth-child(1), .bd-view-button.selected svg:nth-child(1) {
  fill: var(--background);
}

/* --== Style the "Pin Message" modal ==-- */
.theme-dark .message-2qRu38 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Style (edited) tag ==-- */
.cozy-3raOZG .contents-2mQqc9 div span time span {
  color: var(--highlight);
}

/* --== Style "day change" spacers in chat ==-- */
.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
  background-color: var(--background);
}

.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ span {
  color: var(--highlight);
  padding-right: 8px;
}

.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ::before {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-right: -11px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%);
}

.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ::after {
  content: '\00a0';
  width: 100%;
  height: 2px;
  margin-left: -3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

/* --== Style search bar in the top-right ==-- */
.resultsGroup-r_nuzN {
  background-color: var(--background);
}

.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: var(--background);
}

.theme-dark .option-96V44q.selected-rZcOL- span, .theme-dark .option-96V44q.selected-rZcOL- svg {
  color: var(--highlight);
}

.theme-dark .option-96V44q:after {
  display: none;
}

.resultsGroup-r_nuzN .searchLearnMore-3SQUAj a:hover svg g path {
  fill: var(--highlight);
}

.searchBar-3dMhjb:hover .iconLayout-1WxHy4 div svg path,
.searchBar-3dMhjb[aria-expanded="true"] .iconLayout-1WxHy4 div svg path {
  fill: var(--highlight);
}

.circular-2NaZOq > circle {
  stroke: var(--highlight) !important;
}

.searchBar-3dMhjb:hover div div div {
  color: var(--highlight);
}

.searchBar-3dMhjb:hover[aria-expanded="true"] div div div {
  color: inherit;
}

/* --== Style the "Find or start a conversation" button (finally) ==-- */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid var(--highlight);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: var(--highlight);
  transition-duration: .3s;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx:hover {
  background-color: var(--highlight);
  color: var(--background);
}

/* --== Style "You're viewing older messages" bar ==-- */
.jumpToPresentBar-G1R9s6 {
  background-color: var(--highlight);
}

.jumpToPresentBar-G1R9s6 button {
  color: var(--background);
}

/* --== Style Reply-marker ==-- */
.replying-1x3H0T:before {
  background-color: var(--highlight);
}

/* --== Style Boost-Server page ==-- */
.perksModalContentWrapper-2HU6uL, .theme-dark .perksModal-fSYqOq {
  background-color: var(--background);
}

.tierMarkerLabelPlusIcon-1OS7E9, .theme-dark .tierMarkerInProgress-24LMzJ .currentTierIcon-2gcTCn.tier3Icon-Ku4Ahe,
.theme-light .tierMarkerInProgress-24LMzJ .currentTierIcon-2gcTCn.tier3Icon-Ku4Ahe, .badgeIconWithSubscribers-3PlMu9,
.colorPremium-p4p7qO .icon-LYJorE {
  color: var(--highlight) !important;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transition-duration: .3s;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 div svg path {
  fill: var(--highlight);
  transition-duration: .3s;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
  background-color: var(--highlight);
  color: var(--background);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover div svg path {
  fill: var(--background);
}

.theme-dark .icon-QVoPRH, .theme-light .icon-QVoPRH {
  color: var(--highlight);
}

.wrapper-3nSjSv, .theme-dark .tierHeaderUnlocked-1n-OTI, .theme-light .tierHeaderUnlocked-1n-OTI {
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0.4) 100%);
}

.theme-dark .tierUnlocked-25K6Kv, .theme-light .tierUnlocked-25K6Kv {
  background-color: var(--background);
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

.theme-dark .tierBody-16Chc9 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  border-top: none;
}

.theme-dark .tierHeaderLocked-1s2JJz {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  border-bottom: none;
}

.theme-dark .tierMarkerBackground-3q29am, .theme-dark .barBackground-2EEiLw,
.tierMarkerSelectable-3t7r2q {
  background-color: rgba(var(--rgb-highlight), 0.2) !important;
}

.theme-dark .perk-2WeBWW {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

.theme-dark .selectedTier-1JkO7i .tierMarker-5HkGJ_, .theme-light .selectedTier-1JkO7i .tierMarker-5HkGJ_,
.barForeground-3KglC8, .tierMarkerAccomplished-2MiXeg, .tierMarkerInProgress-24LMzJ[style="background: #ff73fa;"] {
  background-color: var(--highlight) !important;
}

/* --== Style "Add Friend" page ==-- */
.peopleColumn-29fq28 {
  background-color: var(--background);
}

.wrapper-1cBijl {
  border: 1px solid var(--highlight);
}

.theme-dark .description-1EvxpH.error-3T-E-_, .theme-light .description-1EvxpH.error-3T-E-_ {
  color: var(--close-button);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
  background-color: var(--background);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled:hover {
  background-color: var(--highlight) !important;
  color: var(--background) !important;
}

.topPill-30KHOu .item-PXvHYJ {
  background-color: var(--background) !important;
  border: 1px solid var(--highlight);
  color: var(--highlight) !important;
}

.topPill-30KHOu .item-PXvHYJ:hover,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: var(--highlight) !important;
  color: var(--background) !important;
}

.icon-22AiRD g {
  color: var(--highlight);
}

/* --== Style "Create Server" popout ==-- */
.colorHeaderPrimary-26Jzh- {
  color: var(--highlight);
}

.subtitle-Nw1LLR, .container-UC8Ug1 div, .colorStandard-2KCXvj,
.colorHeaderSecondary-3Sp3Ft {
  color: gray;
}

.container-UC8Ug1 {
  background-color: var(--background);
}

.theme-light .footer-2gL1pp {
  box-shadow: none;
}

.anchor-3Z-8Bb {
  color: var(--highlight);
}

.iconContainer-2B0ixr svg circle {
  fill: var(--highlight);
}

.iconContainer-2B0ixr svg path {
  stroke: var(--background);
}

.inputDefault-_djjkz, .inputDefault-_djjkz:hover {
  border-color: var(--highlight);
  color: gray;
}

/* --== Style server explorer ==-- */
.scroller-1d5FgU {
  background-color: var(--background);
}

.dotOnline-8Ag7EB {
  background-color: var(--online-color);
}

.dotOffline-3DXoDy {
  background-color: var(--afk-color);
}

.search-1iTphC .searchBox-2_mAlO {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: gray;
}

.search-1iTphC .searchBox-2_mAlO:focus-within {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: gray;
  box-shadow: none;
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
  border: none;
  color: gray;
}

.searchSubtitle-2jsC5X {
  color: white;
}

.search-1iTphC .searchBox-2_mAlO .searchIcon-6ljH-4 {
  color: var(--highlight);
}

.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
  background-color: var(--highlight);
  color: var(--background);
}

.notice-2X5hT5 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

.circleIconButton-1QV--U.selected-1JjBPm {
  background-color: var(--highlight);
  color: var(--background);
}

.circleIconButton-1QV--U {
  transition-duration: .3s;
}

.circleIconButton-1QV--U svg {
  color: var(--highlight);
  transition-duration: .3s;
}

.circleIconButton-1QV--U:hover .circleIcon-1-oi1i,
.circleIconButton-1QV--U:hover svg {
  color: var(--background);
}

.circleIconButton-1QV--U.selected-1JjBPm .circleIcon-1-oi1i {
  color: var(--background);
}

/* --== Style BD "public" button ==-- */
#bd-pub-button {
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transition-duration: .3s;
}

#bd-pub-button:hover {
  background-color: var(--highlight);
  color: var(--background);
}

/* --== Style the "Block" button in new DM's ==-- */
.container-1fnzfI button:nth-of-type(2) {
  border-color: var(--close-button) !important;
  color: var(--close-button) !important;
}

.container-1fnzfI button:nth-of-type(2):hover {
  color: var(--background) !important;
  background-color: var(--close-button)  !important;
}

/* --== Style Private calls/Streams ==-- */

.iconBadge-3qSJIw.participating-1NvRVd {
  background-color: var(--highlight);
  color: var(--background);
}

.searchBar-3dMhjb {
  background-color: var(--background);
}

.colorable-1bkp8v.red-33-Lnk {
  background-color: var(--background);
  border: 1px solid var(--close-button);
  transition-duration: .3s;
}

.colorable-1bkp8v.red-33-Lnk div svg path {
  fill: var(--close-button);
  transition-duration: .3s;
}

.colorable-1bkp8v.red-33-Lnk:hover {
  background-color: var(--close-button);
}

.colorable-1bkp8v.red-33-Lnk:hover div svg path {
  fill: var(--background);
}

.avatarSpeaking-2c8-9i, .border-3dQmSY.speaking-WDn8Wm {
  box-shadow: inset 0 0 0 2px var(--online-color),inset 0 0 0 3px var(--background);
}

.background-ujHpbY {
  background-color: var(--background) !important;
  box-shadow: inset 0 0 0 2px var(--highlight),inset 0 0 0 3px var(--background);
  border-radius: 9px;
}

.liveLarge-3zs2Zq {
  background-color: var(--close-button) !important;
  color: var(--background);
}

.videoWrapper-2v09vt {
  background-color: var(--background);
}

.status-254fhp.interactive-3JkJV4:hover svg path {
  fill: var(--highlight);
}

.overlayTitle-8IcS01 {
  color: var(--highlight);
}

.centerButton-3CaNcJ .centerIcon-2G6o-T {
  transition-duration: .3s !important;
} /* --== TODO: FIND OUT WHY THIS SHIT DOESN'T DO ANYTHING!!! ==-- */

.contextMenuContainer-2HlOMK svg foreignObject button {
  background-color: var(--background) !important;
  box-shadow: inset 0 0 0 2px var(--highlight);
  color: var(--highlight) !important;
  transition-duration: .3s;
}

.contextMenuContainer-2HlOMK svg foreignObject button div svg {
  color: var(--highlight) !important;
  transition-duration: .3s !important;
}

.contextMenuContainer-2HlOMK:hover svg foreignObject button {
  background-color: var(--highlight) !important;
}

.contextMenuContainer-2HlOMK:hover svg foreignObject button div svg {
  transition-duration: .3s !important;
  background-color: var(--highlight) !important;
  color: var(--background) !important;
}

.contextMenuNub-3yOOYo {
  background-color: var(--background) !important;
  border: 1px solid var(--highlight);
  transition-duration: .3s;
}

.contextMenuNub-3yOOYo svg path {
  stroke: var(--highlight);
}

.contextMenuNub-3yOOYo:hover {
  background-color: var(--highlight) !important;
}

.contextMenuNub-3yOOYo:hover svg path {
  stroke: var(--background);
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, .colorDefault-2K3EoJ .radioSelection-1HmrQS {
  color: var(--highlight);
}

/* --== Style server-folders ==-- */
.folderIconWrapper-1_bOZe div svg path {
  fill: var(--highlight);
}

.folderIconWrapper-1_bOZe {
  background-color: rgba(var(--rgb-highlight), 0.3);
}

.closedFolderIconWrapper-2sTcE6 {
  background-color: rgba(var(--rgb-highlight), 0.3);
}

.expandedFolderBackground-1cujaW {
  background-color: rgba(var(--rgb-highlight), 0.3);
}

/* --== Style "Two-factor enabled" text ==-- */
.userSettingsSecurity-3IYeMF .isEnabled-24g9qA {
  color: var(--online-color);
}

/* --== Hide weird unused stuff ==-- */
.theme-dark .children-19S4PO:after, .form-2fGMdU::before {
  display: none;
}

/* --== Remove unread half-circles within servers in favor of colored channel-names ==-- */
.unread-2lAfLh {
  display: none;
}
