/* --== Author tag ==-- */
[user_by_bdfdb="137259132305539072"] .username-1A8OIy::after {
  content: '';
  display: inline-block;
  background-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/pencil.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

[user_by_bdfdb="137259132305539072"] .nameAndDecorators-5FJ2dg::after {
  content: '';
  display: inline-block;
  background-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/pencil.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

/* --== Quality control tag ==-- */

[user_by_bdfdb="360790467224403969"] .username-1A8OIy::after {
  content: '';
  display: inline-block;
  background-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/magnifying_glass_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

[user_by_bdfdb="360790467224403969"] .nameAndDecorators-5FJ2dg::after {
  content: '';
  display: inline-block;
  background-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/magnifying_glass_icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

/* --== Secret Tag! :o ==-- */

[user_by_bdfdb="360790467224403969"] .username-1A8OIy::after {
  content: '';
  display: inline-block;
  background-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/cat.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}

[user_by_bdfdb="360790467224403969"] .nameAndDecorators-5FJ2dg::after {
  content: '';
  display: inline-block;
  background-image: url("https://commandcrafterhd.gitlab.io/bates-discord-theme/svg/cat.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5px !important;
  height: 5px !important;
  padding: 3px;
  margin-left: 5px;
}
