:root {
  --hidden-user-width: 60px;
  --user-width: 240px;
}

.membersWrap-3NUR2t {
  transition-duration: .4s;
  justify-content: unset;
  min-width: unset;
  width: var(--hidden-user-width);
}

.membersGroup-2eiWxl {
  height: 0px;
  transition-duration: .4s;
}

.membersWrap-3NUR2t:hover .membersGroup-2eiWxl{
  height: 40px;
}

.membersWrap-3NUR2t:hover {
  width: var(--user-width);
}
