.theme-dark {
    // --== Style the app picker ==--
    ._9c62c6ed231468c4-contentWrapper {
        --bg-base-secondary: var(--background);
        --input-border: var(--highlight);
        --text-link: var(--highlight);
        --text-brand: var(--highlight);
        --bg-mod-subtle: var(--highlight);
    }

    .cb32c78a53f54371-appDetailsContainer {
        background-color: var(--background);
    }
}