.theme-dark {
  /* --== Set the background color/image ==-- */
  body {
    background-color: var(--background);
    background-image: var(--background-image);
    background-position: var(--background-position);
    background-size: var(--background-size);
    backdrop-filter: blur(var(--background-blur))
      brightness(var(--background-brightness));
  }

  /* --== Make everything (which needs to be) transparent ==-- */
  // The main App background
  ._51fd70792ee2e563-appMount, ._160d8e55254637e5-app, ._960e4207cea8323e-bg,
  // The guild list
  ._5e434347c823b592-guilds, .ef3116c2da186559-scroller,
  // The channel list
  ._5e434347c823b592-sidebar, ._5e434347c823b592-sidebar::after, ._2637a2609f343032-container,
  // The chat
  .f75fb00fb7356cbe-chat, .f75fb00fb7356cbe-chatContent,
  // The title bar
  .f75fb00fb7356cbe-title,
  // The search bar,
  ._974928fe84ca9647-searchBar,
  // The user list
  .c8ffbb79449f399c-container, .c8ffbb79449f399c-members, .f75fb00fb7356cbe-content, ._91a9d7f7e5248a56-container,
  // The chat box
  ._740174f3d6a2c8fe-channelTextArea,
  // The friends page
  ._133bf5eea8e33a34-container, ._00943886e1cf89d1-section, ._133bf5eea8e33a34-nowPlayingColumn,
  ._7d20cf18f8a2784c-container, ._7e549558f336cddb-itemCard, ._00943886e1cf89d1-section, .bf1984a18b3ec6f0-inset,
  ._9293f6b2fc12398a-container, .e6b7699ce8339e1c-privateChannels, ._99e7cad8d4c55236-scroller,
  // The settings page
  ._960e4207cea8323e-layer , ._23e6b439306f125a-standardSidebarView, ._23e6b439306f125a-sidebarRegionScroller,
  ._23e6b439306f125a-contentRegion, ._23e6b439306f125a-contentRegionScroller,
  // The Library page
  ._4a84a2c88d373bef-container, .adb41f8099151bc8-stickyHeader, .fb04e18e9304920d-scroller,
  // The Explore servers page
  .pageWrapper_a3a4ce,
  // The Explore servers icon
  .footer__214dc,
  // The Forum page 
  .f369dba7416c67f0-container {
    background: transparent !important;
  }
}
