.theme-dark {
  /* --== Highlight selected channel ==-- */
  .c69b6db0641110f6-selected {
    ._2ea32c412048f708-icon,
    .c69b6db0641110f6-actionIcon:hover,
    ._2ea32c412048f708-name {
      color: var(--highlight) !important;
    }

    ._2ea32c412048f708-link {
      background-color: rgba(var(--rgb-highlight), 20%) !important;
    }
  }
}
