.theme-dark {
  /* --== Set chat background color to fix transparency issues ==-- */
  ._740174f3d6a2c8fe-scrollableContainer {
    background-color: var(--background);
  }

  /* --== Fix super bright replying highlights ==-- */
  ._5126c0cd07f243a0-replying:hover {
    background-color: rgba(var(--rgb-highlight), 60%) !important;
  }

  /* --== Fix super bright bot-replying highlights ==-- */
  ._5126c0cd07f243a0-ephemeral {
    background-color: rgba(var(--rgb-highlight), 30%);
  }

  ._5126c0cd07f243a0-ephemeral:hover {
    background-color: rgba(var(--rgb-highlight), 40%) !important;
  }

  /* --== Change mentioned color bar ==-- */
  ._5126c0cd07f243a0-mentioned::before {
    background-color: var(--highlight);
  }

  /* --== Fix the autocomplete ==-- */
  ._13533e3c5791980f-autocompleteInner {
    background-color: var(--background);
  }
}
