.theme-dark {
  /* --== Fix invisible reaction count =-- */
  ._23977d5b7cef7361-reactionMe {
    border-color: var(--highlight) !important;

    ._23977d5b7cef7361-reactionCount {
      color: var(--background) !important;
    }
  }

  /* --== Add border to reactions ==-- */
    ._23977d5b7cef7361-reaction, ._23977d5b7cef7361-reactionBtn {
        border-color: rgba(var(--rgb-highlight), 30%);
    }

    ._23977d5b7cef7361-reactionBtn:hover {
        border-color: var(--rgb-highlight);
    }
}
