.theme-dark {
  /* --== Style the online/afk/dnd icons ==-- */

  /* --== THIS PART WAS YOINKED FROM _DAVID_! THANKS DAVID! ==-- */

  #app-mount ._44b0c28be7879b7b-wrapper rect[fill="#593695"],
  #app-mount ._44b0c28be7879b7b-wrapper rect[mask*="streaming"] {
    fill: var(--streaming-color);
  }
  #app-mount ._44b0c28be7879b7b-wrapper rect[fill="#43b581"],
  #app-mount ._44b0c28be7879b7b-wrapper rect[mask*="online"] {
    fill: var(--online-color);
  }
  #app-mount ._44b0c28be7879b7b-wrapper rect[fill="#faa61a"],
  #app-mount ._44b0c28be7879b7b-wrapper rect[mask*="idle"] {
    fill: var(--afk-color);
  }
  #app-mount ._44b0c28be7879b7b-wrapper rect[fill="#f04747"],
  #app-mount ._44b0c28be7879b7b-wrapper rect[mask*="dnd"] {
    fill: var(--dnd-color);
  }
}
