.theme-dark {
  /* --== Style the unread number-badges ==-- */
  .numberBadge__40d6f {
    background-color: rgba(var(--rgb-highlight), 70%) !important;
    color: var(--background);
  }

  /* --== Style the unread message bar ==-- */
  ._908e20001ad67812-isUnread {
    border: 1px solid var(--highlight);
  }

  ._908e20001ad67812-content {
    color: var(--highlight);
  }

  ._2ea32c412048f708-wrapper:hover {
    ._2ea32c412048f708-unread {
      background-color: var(--highlight);
    }
  }

  .guildSeparator-33mFX6 {
    background-color: var(--highlight);
    border-radius: 2px;
  }

  ._908e20001ad67812-unreadPillCapStroke {
    color: var(--highlight);
    fill: var(--highlight);
  }

  ._908e20001ad67812-unreadPill {
    background-color: var(--highlight);
    color: var(--background) !important;
  }

  ._3b95d7d910416e54-bar,
  ._0f481cbbd7530492-newMessagesBar {
    background-color: var(--highlight);
    color: var(--background);
  }
}
