.theme-dark {
    .c0bea05627c5dc35-outer:not(.custom-user-profile) {
        background-color: var(--background);

        .c0bea05627c5dc35-inner.user-profile-modal,
        .c0bea05627c5dc35-inner.user-profile-popout {
            background: inherit;
        }
    }
}