.theme-dark {
  /* --== Style member titles ==-- */
  .c8ffbb79449f399c-membersGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--highlight);
    padding: 0px;
  }

  .c8ffbb79449f399c-membersGroup::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: 3px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 0) 0%,
      rgba(var(--rgb-highlight), 1) 100%
    );
  }

  .c8ffbb79449f399c-membersGroup::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: 3px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 1) 0%,
      rgba(var(--rgb-highlight), 0) 100%
    );
  }

  /* --== Style channelgroup titles ==-- */
  ._29444ba32c7fbeab-containerDefault {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ._29444ba32c7fbeab-containerDefault div div {
    color: var(--highlight);
  }

  .arrow_d64d50 {
    display: none;
  }

  .container-q97qHp .b0dfc2ed9c57037d-overflow {
    max-width: 8vw;
  }

  ._29444ba32c7fbeab-containerDefault::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: -11px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 0) 0%,
      rgba(var(--rgb-highlight), 1) 100%
    );
  }

  ._29444ba32c7fbeab-containerDefault::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: -3px;
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-highlight), 1) 0%,
      rgba(var(--rgb-highlight), 0) 100%
    );
  }
}
