/* --== Set the background color/image ==-- */
body {
  background-color: var(--background);
  background-image: var(--background-image);
  background-position: var(--background-position);
  background-size: var(--background-size);
  backdrop-filter: blur(var(--background-blur)) brightness(var(--background-brightness));
}

/* --== Make everything (which needs to be) transparent ==-- */
// The main App background
.appMount-2yBXZl, .app-2CXKsg, .bg-1QIAus,
// The guild list
.guilds-2JjMmN, .scroller-3X7KbA,
// The channel list
.sidebar-1tnWFu, .container-1NXEtd,
// The mute/deafen/settings panel
.panels-3wFtMD,
// The chat
.chat-2ZfjoI,
// The title bar
.title-31SJ6t,
// The user list
.container-2o3qEW, .members-3WRCEx, .content-2a4AW9, .container-1oeRFJ,
// The chat box
.scrollableContainer-15eg7h, .channelTextArea-1VQBuV,
// The friends page
.container-2cd8Mz, .section-3G9aLW, .nowPlayingColumn-1eCBCN,
.container-1oAagU, .itemCard-3Etziu, .section-3G9aLW, .inset-SbsSFp,
.container-ZMc96U, .privateChannels-oVe7HL, .scroller-WSmht3,
// The settings page
.layer-86YKbF, .standardSidebarView-E9Pc3j, .sidebarRegionScroller-FXiQOh,
.contentRegion-3HkfJJ, .contentRegionScroller-2_GT_N,
// The Library page
.container-3u6dG-, .stickyHeader-fX4ei6, .scroller-1TOeMq
{
  background: transparent !important;
}

/* --== Style the online/afk/dnd icons ==-- */

/* --== THIS PART WAS YOINKED FROM _DAVID_! THANKS DAVID! ==-- */
#app-mount .wrapper-1VLyxH rect[fill="#593695"],
#app-mount .wrapper-1VLyxH rect[mask*=streaming] {fill: var(--streaming-color)}
#app-mount .wrapper-1VLyxH rect[fill="#43b581"],
#app-mount .wrapper-1VLyxH rect[mask*=online] {fill: var(--online-color)}
#app-mount .wrapper-1VLyxH rect[fill="#faa61a"],
#app-mount .wrapper-1VLyxH rect[mask*=idle] {fill: var(--afk-color)}
#app-mount .wrapper-1VLyxH rect[fill="#f04747"],
#app-mount .wrapper-1VLyxH rect[mask*=dnd] {fill: var(--dnd-color)}

/* --== Style the unread number-badges ==-- */
.numberBadge-37OJ3S {
  background-color: rgba(var(--rgb-highlight), 70%) !important;
  color: var(--background);
}

/* --== Style the unread message bar ==-- */
.isUnread-3Lojb- {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

.wrapper-NhbLHG:hover {
  .unread-36eUEm {
    background-color: var(--highlight);
  }
}

.guildSeparator-33mFX6 {
  background-color: var(--highlight);
  border-radius: 2px;
}

.unreadPillCapStroke-1nE1Q8 {
  color: var(--highlight);
  fill: var(--highlight);
}

.unreadPill-3nEWYM {
  background-color: var(--highlight);
  color: var(--background) !important;
}

.bar-2eAyLE {
  background-color: var(--highlight);
  color: var(--background);
}

/* --== Style chat  ==-- */
.channelTextArea-1FufC0 {
  border: 1px solid var(--highlight);
}

/* --== Style profile ==-- */
.userProfileInnerThemedNonPremium-1gT-zY {
  background-color: var(--background);
}

/* --== Style member titles ==-- */
.membersGroup-2eiWxl {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--highlight);
  padding: 0px;
}

.membersGroup-2eiWxl::before {
  content: '';
  width: 100%;
  height: 2px;
  margin-right: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%);
}

.membersGroup-2eiWxl::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-left: 3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

/* --== Style channelgroup titles ==-- */
.containerDefault-3TQ5YN {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerDefault-3TQ5YN div div {
  color: var(--highlight);
}

.arrow-2HswgU {
  display: none;
}

.container-q97qHp .overflow-1wOqNV {
  max-width: 8vw;
}

.containerDefault-3TQ5YN::before {
  content: '';
  width: 100%;
  height: 2px;
  margin-right: -11px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 0) 0%, rgba(var(--rgb-highlight), 1) 100%);
}

.containerDefault-3TQ5YN::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-left: -3px;
  display: inline-block;
  background: linear-gradient(90deg, rgba(var(--rgb-highlight), 1) 0%, rgba(var(--rgb-highlight), 0) 100%);
}

/* --== Hide weird unused stuff ==-- */
.theme-dark .children-3xh0VB:after, .form-3gdLxP::before, .option-ayUoaq:after {
  display: none;
}