@use 'components/background_resets';
@use 'components/status_indicators';
@use 'components/unread_messages';
@use 'components/user_list';
@use 'components/user_panel';
@use 'components/user_profile';
@use 'components/reactions';
@use 'components/bots';
@use 'components/chat';
@use 'components/channels';
@use 'components/gif_emoji_picker';
@use 'components/app_picker';

.theme-dark {
  /* --== Hide weird unused stuff ==-- */
  ._9293f6b2fc12398a-children:after,
  .f75fb00fb7356cbe-form::before,
  ._56fec8e8b8048fe0-option:after {
    display: none;
  }
}