/* --== Styling the weird "Connect PlayStation Network" popout ==-- */
.container-xB0xPf {
  background-color: var(--background);
}

.pointer-1j6vDv {
  display: none;
}

/* --== Style the user popout ==-- */
.userPopout-3XzG_A {
  margin-right: 1vw;
  border: 1px solid var(--highlight);
}

.headerPlaying-j0WQBV, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.headerTop-3C2Zn0 {
  background-color: var(--background);
}

.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus {
  border: 1px solid var(--highlight);
}

.header-QKLPzZ {
  background-color: var(--background);
}

.headerFill-adLl4x {
  background-color: var(--background);
}

.root-SR8cQa {
  border: 1px solid var(--highlight);
}

.lookFilled-yCfaCM.colorGreen-3y-Z79, .lookInverted-2mDUMi.colorBrand-I6CyqQ {
  background-color: var(--background);
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transition-duration: .3s;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover, .lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {
  background-color: var(--highlight);
  color: var(--background);
}

.pointerEvents-9SZWKj[fill="#ffffff"] {
  fill: var(--online-color);
}

/* --== Styling custom User Popouts ==-- */

.popoutBanner-3cqRD9 {
  height: 120px;
}

.userPopout-2j1gM4 {
	--USRBG-banner-height: 120px;
}

.avatarWrapperNormal-ahVUaC {
  top: 76px;
}

/* --== Style spotify widget on user popout ==-- */

.headerSpotify-zpWxgT {
  background-color: var(--background);
}

.barInner-3dHef4 {
  background-color: var(--highlight);
}

.lookOutlined-3yKVGo.colorWhite-1H92hK {
  border-color: var(--highlight);

  &:hover {
    background-color: var(--highlight);
    color: var(--background);

    svg path {
      fill: var(--background);
    }
  }
}

.listenAlongIcon-aXq1MH path {
  fill: var(--highlight);
}

/* --== Style twitch widget on user popout ==-- */

.activity-11LB_k {
  background: transparent;
}

/* --== Style autocomplete popout ==-- */
.autocompleteInner-y1mjDl, .selected-3H3-RC {
  background-color: var(--background) !important;
  border: 1px solid var(--highlight);
}

/* --== Style popout video player ==-- */
.pictureInPictureVideo-2puO2Q {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Style right click list ==-- */
.scroller-1bVxF5 {
  border: 1px solid var(--highlight);
  border-radius: 5px;
}

/* --== Style spoiler checkbox off of file upload modal ==-- */
.theme-dark .checkbox-f1HnKB {
  transition-duration: .3s;
}

.theme-dark .checked-1pZh2h .da-checked {
  border-color: var(--highlight) !important;
}

.theme-dark .checked-1pZh2h > svg > path {
  fill: var(--highlight);
}

.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
  border: 1px solid var(--close-button);
  margin-right: 1vw;
  transition-duration: .3s;
}

.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo:hover {
  background-color: var(--close-button);
}


.container-2nx-BQ > svg > svg > path {
  fill: var(--highlight);
}

.defaultValue-19SZ-q .markValue-2U_-UG {
  color: var(--highlight);
}

/* --== Style BD Update popout ==-- */
.theme-dark .root-g14mjS, .theme-dark .footer-31IekZ {
  background-color: var(--background);
}

.close-1mLglB div svg path {
  fill: var(--close-button);
}

.added-2hLRj3.marginTop-2incQ6 {
  color: var(--online-color);
}

.added-2hLRj3.marginTop-2incQ6::after {
  background-color: var(--online-color);
}

.improved-1NJK-y {
  color: var(--highlight);
}

.improved-1NJK-y::after {
  background-color: var(--highlight);
}

.fixed-3zCC84 {
  color: var(--close-button);
}

.fixed-3zCC84::after {
  background-color: var(--close-button);
}

/* --== Style the "Pin Message" modal ==-- */
.theme-dark .message-G6O-Wv {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Make sure Selected Role Name is still readable in Server-Role menu ==-- */
.selected-g-kMVV > div {
  color: var(--background) !important;
}

/* --== Style "Create Server" popout ==-- */
.colorHeaderPrimary-jN_yGr {
  color: var(--highlight);
}

.subtitle-3m-md1, .container-x8Y1ix div, .colorStandard-21JIj7,
.colorHeaderSecondary-g5teka {
  color: gray;
}

.container-x8Y1ix {
  background-color: var(--background);
}

.theme-light .footer-31IekZ {
  box-shadow: none;
}

.anchor-1MIwyf {
  color: var(--highlight);
}

.iconContainer-GFfNaA svg circle {
  fill: var(--highlight);
}

.iconContainer-GFfNaA svg path {
  stroke: var(--background);
}

.inputDefault-3FGxgL, .inputDefault-3FGxgL:hover {
  border-color: var(--highlight);
  color: gray;
}

/* --== Selection Dropdown ==-- */
.popout-1KHNAq {
  background-color: var(--background);

  .option-2eIyOn {
    &[aria-selected=true] {
      background-color: var(--highlight) !important;
      color: var(--background) !important;
    }

    &:hover {
      background-color: var(--background);
    }
  }
}

.card-16VQ8C {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Style "Gift Inventory" page ==-- */
.input-2g-os5 {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Style "Billing" page ==-- */
.paymentPane-ut5qKZ {
  background-color: var(--background) !important;
  border: 1px solid var(--highlight);

  .paginator-1eqD2g, .paymentRow-1HKOLu {
    background-color: var(--background);

    &:hover {
      background-color: var(--background);
    }
  }

  .expandedInfo-1W31i3 {
    background-color: var(--background);
    border: 1px solid var(--highlight);
  }
}

.codeRedemptionRedirect-2hYMSQ {
  background-color: var(--background) !important;
  border: 1px solid var(--highlight) !important;
}

/* --== Style "Appearance" page ==-- */
.radioBar-3w9XY- {
  border: 1px solid var(--highlight);
}

.bar-1Bhnl9 {
  background: var(--background) !important;
}

.barFill-2Bh7CX {
  background: var(--highlight) !important;
}

/* --== Style "Accessibility" page ==-- */
.previewMessage-2g_aBv {
  background-color: var(--background);
}

/* --== Style "Voice & Video" page ==-- */
.cameraWrapper-3a7Ngv {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

/* --== Style "Notifications" page ==-- */
.select-1Ia3hD {
  border: 1px solid var(--highlight) !important;
}

/* --== Style "Activity Status" page ==-- */
.activeGame-1OdxzI {
  background-color: var(--background) !important;
  border: 1px solid var(--highlight);
}

.wrapper-SdcMKg {
  border-color: var(--highlight);

  .selected-18Wszc {
    background-color: var(--highlight);
  }

  .option-1QI4c9 {
    transition-duration: var(--transition-time);

    &:hover {
      background-color: var(--background);
      border: 1px solid var(--highlight);
    }
  }
}

/* --== Style Betterdiscord "Settings" page ==-- */
.bd-select {
  background-color: var(--background);
  border-color: var(--highlight);

  .bd-select-option {
    background-color: var(--background);

    &:hover {
      background-color: var(--background);
    }
  }
}

/* Style Betterdiscord "Plugins" page */
.bd-addon-card {
  background-color: var(--background) !important;
  border: 1px solid var(--highlight);

  .bd-addon-header {
    background-color: var(--background);
  }
}

.bd-view-button {
    &.selected {
      background-color: var(--highlight) !important;
    }
}

.bd-search-wrapper {
  background-color: var(--background);
  border: 1px solid var(--highlight);
}

.bd-button {
  .contents-3ca1mk {
    background: transparent;
  }
}

/* --== Style quick switcher ==-- */
.quickswitcher-pKcM9U {
  background-color: var(--background);
  border: 1px solid var(--highlight);

  .input-3r5zZY, .scroller-2qwVWY {
    background-color: var(--background);
  }

  .protip-1jXzAl {
    border: none;
  }

  .result-u66Ywh {
    transition-duration: var(--transition-time);

    &:hover, &[aria-selected=true] {
      background-color: var(--highlight) !important;
      .icon-12xJtb, .name-3qeTY-, .misc-XwBATim {
        color: var(--background) !important;
      }
    }
  }
}

/* --== Style dropdown buttons ==-- */
.scroller-1bVxF5 {
  background-color: var(--background);

  .item-1OdjEX {
    transition-duration: var(--transition-time);

    &:hover {
      background-color: var(--highlight) !important;
      color: var(--background) !important;
    }

    &.colorDanger-3n-KnP {
      &:hover {
        background-color: var(--close-button) !important;
        color: var(--background) !important;
      }
    }
  }
}

/* --== Style right-click message options ==-- */
.wrapper-2vIMkT {
  background-color: var(--background);
  border: 1px solid var(--highlight);

  .button-3bklZh {
    transition-duration: var(--transition-time);
    background-color: var(--background);
    color: var(--highlight);

    &:hover {
      background-color: var(--highlight);
      color: var(--background) !important;
    }
  }
}

/* --== Style tooltips ==-- */
.tooltip-14MtrL {
  background-color: var(--background) !important;
  .tooltipPointer-3L49xb {
    border-top-color: var(--background) !important;
  }
}
