/* --== Styling the weird "Connect PlayStation Network" popout ==-- */
.container-xB0xPf {
  background-color: var(--background);
}

.pointer-1j6vDv {
  display: none;
}

/* --== Styling custom User Popouts ==-- */

.popoutBanner-3cqRD9 {
  height: 120px;
}

.userPopout-2j1gM4 {
	--USRBG-banner-height: 120px;
}

.avatarWrapperNormal-ahVUaC {
  top: 76px;
}
