/* --== Author tag ==-- */
[data-author-id="137259132305539072"] .headerText-2z4IhQ,
[data-user-id="137259132305539072"] .nameAndDecorators-3ERwy2 {
  &::after {
    content: ' Dev';
    display: inline-block;
    background-image: url("https://commandcrafterhd.github.io/DiscordDarkNeon/svg/crayon.svg");
    background-size: 12px 12px;
    background-position: 3px;
    background-repeat: no-repeat;
    background-color: var(--highlight);
    color: var(--background);
    width: 15px !important;
    height: 13px !important;
    padding-bottom: 5px;
    padding-right: 3px;
    margin-left: 5px;
    font-size: 10px;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: var(--transition-time);
  }

  &:hover {
    &::after {
      padding-left: 16px;
      width: 20px !important;
    }
  }
}
