:root {
  --hidden-user-width: 60px;
  --user-width: 240px;
}

.container_b2ce9c, .membersWrap__90226 {
  transition-duration: var(--transition-time);
  justify-content: unset;
  min-width: unset;
  width: var(--hidden-user-width);
}

.membersGroup__85843 {
  height: 0px;
  transition-duration: var(--transition-time);
  padding-top: 0px;
}

.container_b2ce9c:hover .membersGroup__85843, .membersWrap__90226:hover .membersGroup__85843 {
  height: 40px;
  padding-top: 24px;
}

.container_b2ce9c:hover, .membersWrap__90226:hover {
  width: var(--user-width);
}

.profilePanel-2PWEok {
  transition-duration: var(--transition-time);
}

// FOR REFERENCE: container- is for normal chats and membersWrap- is for full-screen threads!