:root {
  --hidden-user-width: 60px;
  --user-width: 240px;
}

.container_f79ab4,
.membersWrap__5ca6b {
  transition-duration: var(--transition-time);
  justify-content: unset;
  min-width: unset;
  width: var(--hidden-user-width);
}

.membersGroup_cad095 {
  height: 0px;
  transition-duration: var(--transition-time);
  padding-top: 0px;
}

.container_f79ab4:hover .membersGroup_cad095,
.membersWrap__5ca6b:hover .membersGroup_cad095 {
  height: 40px;
  padding-top: 24px;
}

.container_f79ab4:hover,
.membersWrap__5ca6b:hover {
  width: var(--user-width);
}

.profilePanel-2PWEok {
  transition-duration: var(--transition-time);
}

// FOR REFERENCE: container- is for normal chats and membersWrap- is for full-screen threads!
