:root {
  --hidden-user-width: 60px;
  --user-width: 240px;
}

.container_c8ffbb,
.membersWrap_c8ffbb {
  transition-duration: var(--transition-time);
  justify-content: unset;
  min-width: unset;
  width: var(--hidden-user-width);
}

.membersGroup_c8ffbb {
  height: 0px;
  transition-duration: var(--transition-time);
  padding-top: 0px;
  overflow: hidden;
}

.container__0f2e8 {
  height: 0px;
  transition-duration: var(--transition-time);
  overflow: hidden;
  padding: 0px;
}

.container_c8ffbb:hover .membersGroup_c8ffbb,
.membersWrap_c8ffbb:hover .membersGroup_c8ffbb {
  height: 40px;
  padding-top: 24px;
}

.container_c8ffbb:hover {
  .container__0f2e8 {
    height: 48px;
    padding: 8px;
  }
}

.container_c8ffbb:hover,
.membersWrap_c8ffbb:hover {
  width: var(--user-width);
}

.profilePanel-2PWEok {
  transition-duration: var(--transition-time);
}

// FOR REFERENCE: container- is for normal chats and membersWrap- is for full-screen threads!
