/**
 * @name Dark Neon DEV
 * @author Bates#7075
 * @version  INDEV
 * @description Dark Neon DEV theme.
 * @authorId 137259132305539072
 * @invite 6qd3SkP6Ch
*/

/*
--== This stuff is only here so the dev build works. The final .css file will have all comments stripped ==--
*/

@import "_variables.scss";
@import "_base.scss";
@import "_usertags.scss";

/* TODO: REMOVE THIS BEFORE PUSHING TO MASTER! */
@import url('https://commandcrafterhd.gitlab.io/bates-discord-theme/css/hideUsers.css');

.info-3pQQBb:last-child::after {
  content: "Dark Neon Version 2.0.0";
  font-size: 12px;
  line-height: 16px;
  color: rgb(var(--rgb-highlight));
}
